env:
- TEST_WITH_NETWORK=1

language: perl
perl:
    - "5.28"
    - "5.26"
    - "5.24"
    - "5.22"
    - "5.20"
    - "5.16"

# Install configure-time dependencies
before_install: cpanm --quiet --notest Devel::CheckLib Module::Install Module::Install::XSUtil
